@import "mixin";

.contacts__container {
  padding: 23px 160px;
}

.contacts__title {
  font-size: 60px;
  margin-bottom: 30px;
  //font-weight: bold;
}

.contacts__description,
.contacts__title,
.contacts__text {
  color: white;
}

.contacts__description {
  max-width: 480px;
  margin-top: 10px;
  line-height: 28px;
  font-weight: 200;
}

.contacts__list {
  display: flex;
  padding-top: 40px;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
}

.contacts__item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  img {
    width: 25px;
  }

  p {
    font-style: italic;
    font-weight: lighter;
  }
}

.contacts__item:nth-child(3) {
  img {
    width: 22px;
    margin-left: 2.5px;
  }
}

.submit_container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.contacts {
  overflow: hidden;
  position: relative;
}

.contacts__container {
  position: relative;
  z-index: 15;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: rgba(7, 64, 163, 0.45);
    backdrop-filter: blur(12px);
  }
}

.contacts__info {
  display: flex;
  justify-content: center;
}

.contacts__info-block {
  width: 100%;
  position: relative;
  right: 15px;
  display: flex;
  justify-content: center;
  border-right: 1px solid rgba(#d9d9d9, 0.25);
}

.contacts__info-block-container {
  width: max-content;
}

.contacts_bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.contacts__form-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts__form {
  flex-direction: column;
  display: flex;
  max-width: 650px;
}

.contacts__form {
  height: 100%;
  width: 100%;
  padding: 0 48px;
}

.contacts__map {
  padding-top: 47px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  iframe {
    width: 100%;
    border-radius: 5px;
  }
}

.contacts__form-input,
.contacts__form-textarea {
  width: 100%;
  border-radius: 5px;
  padding: 13px 20px;
  font-style: italic;
  color: #0740a3;
  outline: none;
  resize: none;
  border: none;
  margin-top: 20px;
  font-size: 16px;
  &::placeholder {
    color: #0740a3;
    opacity: 0.5;
  }
}

.contacts__form-submit {
  @include button();
  font-size: 18px;
  padding: 15px 45px;
  margin-top: 13px;
}

.contacts__info-block-container,
.contacts__form-wrap {
  padding-top: 55px;
}
